h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 69px;
    background-color:#e3b261
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ingredients {
    color: #d3c28f;
}
.steps {
    color: #76832d;
}
.sub-heading {
    background-color: rgb(43, 43, 43);
}